*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:gray;
    outline: none;
}
.container{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:gray;
    padding: 30px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white,
                      5px 5px 12px rgba(0, 0,0, 0.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    box-shadow:inset -5px -5px 12px white,
                inset 5px 5px 12px rgba(0, 0,0, 0.16);
    border: none;
    border-radius: 25px;
    color:black;
    font-size: 45px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 45px;
    width: 45px;
    background-color: gray;
    border: none;
    box-shadow:inset -5px -5px 12px white,
                 5px 5px 12px rgba(0, 0,0, 0.16);
    margin: 10px;
    border-radius: 30px;
    font-size: 23px;
}
.equal{
    width: 120px;
}